.register{ 
    margin-top:  -10px;
    padding-top: 50px;
width: 100%;
    .logo{ 
        width: 20%; 
        margin: 10px auto;
        img{ 
        margin: 10px auto;
        width: 100%;
        }
    }
    background-color:#E5E5E5;
    .inputs{
        width: 50%;
        margin: 0 auto;
        padding-top: 50px;
        
        input{
             
            
            display: block;
            width:60%;
            font-size: 20px;
            border-radius: 5px;
            margin: 20px auto;
            border: solid 2px#70B0B5;
            padding: 5px;
            border: none;
            &::placeholder{
                color: #999999;
                font-size: 20px;
               padding-bottom: 5px;
            }
        }
      .submit{
        width: 20%;
        margin: 0 auto;
        button{
            width:100%;
            padding: 10px;
            border: none;
            background-color: #70B0B5;
            border-radius:20px;
            font-size: 15px;
            border: solid 2px#70B0B5;

            color: white;
            &:hover{ 
                cursor:pointer;

                background-color: rgba($color: #000000, $alpha: 0);
                border: solid 2px white;
                color: #999;
            }
        }
       

      }
      a{
        color: #999;
        text-decoration: underline;
        text-align: center;
        width: 100%;
        display: block;
        margin: 10px;
        cursor:pointer;
    }
    }
    h1{
        color:#70B0B5;
        text-align: center;

    }
    .url{
        font-size: 20px;
    }
}
