.profile {
    width: 1000px;
    height: 90px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color:#E5E5E5;
    font-size: 20px;
    /* border-radius: 100px; */
    margin: 60px auto;
    /* border: solid 1px#70B0B5; */
    padding: 10px;
    color: #999999;
<<<<<<< HEAD
=======
    
>>>>>>> 7495a5b44904279b5b081d6138ecf2d91d391d9f
}